<br/>

<div class="row"> 
  <%- flash.each do |key, value| %>
   <div class="alert alert-info">
    <%= value %>
   </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-10">
    <h1>Items</h1>
  </div>

  <div class="col-md-2">
    <%= link_to "Create Item", new_item_path, class: 'btn btn-primary pull-right btn-header' %>
  </div>
</div>

<div class="row">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th> 
        <th>Quantity</th> 
        <th>Price</th> 
        <th>Total Price</th>
        <th>Actions</th> 
      </tr>
    </thead>
    <tbody>
      <%- @items.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.description %></td> 
          <td><%= item.quantity %></td>
          <td><%= item.price %></td>
          <td><%= item.total_price %></td>
          <td>
            <%= link_to "Edit", edit_item_path(item.id), class: 'btn btn-info' %>
            <%= link_to "Delete", item_path(item.id), method: :delete, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
